<p id="notice"><%= notice %></p>



<div class="card" style="width: 30rem;">
  <div class="card-header" style="font-size:2rem">
  <%= @staff.first_name %> <%= @staff.last_name %>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><strong>Employee:</strong>
    <%= @staff.employee_id %></li>
    
    
    <li class="list-group-item">
    <strong>Mail:</strong>
    <%= @staff.mail %></li>


    <li class="list-group-item"><strong>Phone number:</strong>
    <%= @staff.phone_number %></li>



    <li class="list-group-item"><strong>Project assigned:</strong>
    <%= @staff.project_assigned %></li>

    
  </ul>
</div>

<br><br>

<%= link_to 'Edit', edit_staff_path(@staff),class:"btn btn-primary" %> |
<%= link_to 'Back', staffs_path,class:"btn btn-dark" %>
